@model List<AthleteDto>

@{
  ViewData["Title"] = "All athletes";
}

<h1 class="display-6">All athletes</h1>
<div class="row justify-content-start">
    <div class="col-auto">
        <a class="btn btn-primary" asp-controller="Athlete" asp-action="AddPage" role="button">Add</a>
    </div>
    <div class="col-auto">
        <form asp-controller="Athlete" asp-action="Index" method="get" name="SearchForm" id="SearchForm">
          <button type="submit" class="btn btn-primary mb-4">Search</button>
        </form> 
    </div>
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">
      <input type="text" name="NameQuery" id="NameQuery" class="form-control"
             form="SearchForm"><br>
      Name
    </th>
    <th scope="col">
      <input type="text" name="SurnameQuery" id="SurnameQuery" class="form-control"
             form="SearchForm"><br>
      Surname
    </th>
    <th scope="col">
      <input type="text" name="PatronymicNameQuery" id="PatronymicNameQuery" class="form-control"
             form="SearchForm"><br>
      Pathronymic name
    </th>
    <th scope="col">Sport type</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  @foreach (AthleteDto athlete in Model)
  {
    <tr>
      <th scope="row">@athlete.Id</th>
      <td>@athlete.Name</td>
      <td>@athlete.Surname</td>
      <td>@athlete.PatronymicName</td>
      <td>@athlete.SportName</td>
      <td>
        <form asp-controller="Athlete" asp-action="Delete">
          <input type="hidden" name="id" value="@athlete.Id">
          <button type="submit" class="btn btn-sm btn-danger">Delete</button>
        </form>
      </td>
      <td>
        <form asp-controller="Athlete" asp-action="UpdatePage">
          <input type="hidden" name="id" value="@athlete.Id">
          <button type="submit" class="btn btn-sm btn-primary">Update</button>
        </form>
      </td>
    </tr>
  }
  </tbody>
</table>
